<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <body>
    <header>
        <img src="/icons/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        <button>
            Buscar productos, marcas
        </button>
        <div>
            <button>
                <i class="fas fa-search"></i>
            </button>
        </div>
        <p>Lugar para barra de busqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <Ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </Ul>
        </nav>
        <div>
            <i class="fas fa-bars">
            </i>
        </div>
        <img src="/images/img-home-banner.jpg" alt="">
    </header>
    <main>
        <section>
            <h4>
                <ul>
                    <li>
                        Sección: Basado en tu última visita
                    </li>
                </ul>
            </h4>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
            </div>
            <ul>
                <li>$6.770</li>
                <li>40% OFF</li>
                <li>Cafetera Moulinex</li>
            </ul>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
            </div>
            <ul>
                <li>$230.000</li>
                <li>20% OFF</li>
                <li>MacBook Pro 2019</li>
            </ul>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            </div>
            <ul>
                <li>$70.500</li>
                <li>10% OFF</li>
                <li>Samsung Galaxy S10</li>
            </ul>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
            </div>
            <ul>
                <li>$23.200</li>
                <li>5% OFF</li>
                <li>SmartTv Samsung 43"</li>
            </ul>
        </section>
        <section>
            <h4>
                <ul>
                    <li>
                        Sección de Ofertas
                    </li>
                </ul>
            </h4>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
            </div>
            <ul>
                <li>$6.770</li>
                <li>40% OFF</li>
                <li>Cafetera Moulinex</li>
            </ul>
            <div>
               <img src="/images/img-macbook-pro-2019.jpg" alt="">
            </div>
            <ul>
                <li>$230.000</li>
                <li>20% OFF</li>
                <li>MacBook Pro 2019</li>
            </ul>
            <div>
               <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            </div>
            <ul>
                <li>$70.500</li>
                <li>10% OFF</li>
                <li>Samsung Galaxy S10</li>
            </ul>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
            </div>
            <ul>
                <li>$23.200</li>
                <li>5% OFF</li>
                <li>SmartTv Samsung 43"</li>
            </ul>
        </section>
    </main>
    <footer>
        <h4>
            Pagá con tarjeta o en efectivo
        </h4>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
            seguro!
        </p>
        <h4>
            Envío gratis desde $ 2.500
        </h4>
        <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneﬁcio de
            Mercado Puntos
        </p>
        <h4>
            Seguridad de principio a fin
        </h4>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
            protegid@.
        </p>
        <p>
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>
    </footer>
</body>
</html>